ul.nav {
    padding-left: 0px;
    text-align: left;
  }
  ul.nav > li {
    display: inline-block;
    padding: 10px 20px;
  }
  
   .nli a{
    text-decoration: none;
    color: hsl(0, 0%, 75%);
    font-family: Poppins;

  }

  .nli:hover a{
    color: black;
  }

  .login a{
    text-decoration: none;
    color: hsl(0, 0%, 75%);
    font-family: Poppins;
    margin-left: 30rem;
}

  .login:hover a{
    color: black;
  }


.signup a{
  background-color: hsl(180, 66%, 49%);
  border-color: hsl(180, 66%, 49%);
  padding: 1rem;
  border-radius: 50%;
  text-decoration: none;
  color: white;
  font-family: Poppins;
}

.signup:hover a{
  background-color: hsl(180, 78%, 55%);
}

body{
    font-family: Poppins;
    font-size: 18px;
}

#H1{
    float: left;
}

#rightI{
    float: right;
}

#features{
    margin: auto;
}

p{
    line-height: 1.6;
}